@mixin heading-font($clr){
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    color: $clr;
}

:root{
    --color-bg: lightgrey;
    --color-fg: black;
    --color-heading1: blue;

    --radius: 0.5rem;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

header{
    background-color: var(--color-bg);
}

header > h2{
    @include heading-font(var(--color-heading1));
}

header nav ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    text-decoration: none;
}

header .button:hover{
    background-color: white;
}

.button{
    padding: 0.3rem;
    outline: auto;
    outline-color: var(--color-fg);
    border-radius: var(--radius);
    text-decoration: none;
    list-style: none;
    color: var(--color-fg);
}

footer{
    background-color: var(--color-bg);
    padding-left: 1rem;
}

footer ul{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: var(--color-fg);
}

@media screen and (min-width: 768px){
    header > h2{
        display: flex;
        justify-content: center;
    }

    header nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
      
    }
}

@media screen and (prefers-color-scheme: dark){
    :root{
        --color-bg2: rgb(57, 57, 57);
        --color-bg: grey;
        --color-fg: white;
        --color-heading1: rgb(152, 212, 252);
    
        --radius: 0.5rem;
    }

    header{
        background-color: var(--color-bg2);
    }

    header .button:hover{
        color: var(--color-bg2);
    }

    body{
        background-color: var(--color-bg);
    }

    .button{
        background-color: var(--color-bg2);
    }


    footer{
        background-color: var(--color-bg2);
        color: var(--color-fg);
    }
}


